<div class="splash-screen">
    <div class="splash-banner">
        <div class="splash-banner-left">
            <img src="assets/intro-bg.jpg" alt="background">
        </div>
        <div class="splash-banner-right">
            <h1>TODO APP</h1>
            <span>Keep track of all your todo task list anytime and anywhere.</span>
            <div class="splash-auth-btn">
                <a mat-raised-button color="primary" routerLink="/auth/login">Login</a>
                <a mat-raised-button color="primary" routerLink="/auth/signup">Signup</a>
            </div>
        </div>
    </div>
</div>