.splash-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-banner {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
}

.splash-banner-left,
.splash-banner-right {
    width: 400px;
    height: 400px;
}

.splash-banner-left img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.splash-banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
}

.splash-auth-btn {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}